@theme {
  /* 색상 테마 */
  --color-likelion: salmon;
  --color-techit: var(--color-blue-950);

  /* 중단점 테마 */
  --breakpoint-xs: 30rem;

  /* 웹폰트 테마 */
  --font-suit: "SUIT Variable", sans-serif;

  --text-lion: 28px;

  /* 애니메이션 테마 */
  --animate-wobble: wobble 500ms ease-in-out infinite;
  /* wobble */
  @keyframes wobble {
    0%,
    100% {
      transform: translateX(0%) rotate(0deg);
    }
    15% {
      transform: translateX(-15px) rotate(-5deg);
    }
    30% {
      transform: translateX(10px) rotate(3deg);
    }
    45% {
      transform: translateX(-10px) rotate(-3deg);
    }
    60% {
      transform: translateX(5px) rotate(2deg);
    }
    75% {
      transform: translateX(-5px) rotate(-1deg);
    }
  }
}
